<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
</head>
<body>
    <form action="/data" method="post">
    <input type="text" placeholder="enter your id" name="id">

    <input type="text" placeholder="enter your name" name="name">
    <input type="text" placeholder="enter your lastName" name="lastName">
    <hr></hr>
    <input type="text" placeholder="enter your email " name="email">
    <input type="text" placeholder="enter your meliCode" name="meliCode">
    <input type="text" placeholder="enter your dateOfBirth" name="dateOfBirth">
    <hr></hr>
    <input type="text" placeholder="enter your fatherName" name="fatherName">
    <input type="text" placeholder="enter your password" name="password">
    <button> Submit </button>

    </form>

</body>
</html>
