<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> پتروشیمی کیمیا پارس خاورمیانه</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    

<div class="login-page">
  <div class="form">
    <form action="\login" method="post"   class="login-form">
      <input type="text" placeholder="نام کاربری / کد کارمندی " name="id">
      <input type="password" placeholder="کلمه عبور" name="password">
      <button>ورود</button>
    </form>
  </div>
</div>

</body>
</html>